/*-------------------------
 fonts  
 -------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*------------------------- 
utilities 
---------------------------*/
body {
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  margin: 3vw 7vw;
}

/*---------------------------
banner 
----------------------------*/
.banner {
  display: flex;
  justify-content: space-between;
  background-color: black;
  border-radius: 30px;
  height: fit-content;
  max-width: 100%;
  height: 86.8632707774799vh;
}
.banner .banner-title {
  margin: 14.87vh 0 14.87vh 7.22vw;
}
.banner .banner-photo img {
  width: 44.825520833333336vw;
  height: 82.171581769437vh;
  margin: 4.42vh 0.65vw 0 0;
  padding: 0 0;
}
.banner .banner-title h1 {
  color: white;
  font-size: 4vw;
  margin: 0;
}

.banner .banner-title p {
  color: white;
  font-size: 1vw;
  margin-bottom: 4.02vh;
}
.banner .banner-title a {
  display: inline-block;
  background: rgb(206, 5, 5);
  border-radius: 0.67vh;
  text-decoration: none;
  font-size: 1.3vw;
  text-align: center;
  padding: 2.14vh 1.62vw;
  color: #ffffff;
}
/* animation */
.live {
  display: inline-block;
  position: relative;
  width: 1.3vw;
  height: 2.68vh;
  margin-left: 0.97vw;
  border-radius: 25%;
  background-color: rgb(245, 239, 239);
  animation: pulse 1500ms infinite;
  opacity: 0.9;
}
@keyframes pulse {
  0% {
    box-shadow: rgba(255, 255, 255, 0.678) 0 0 0 0;
  }
  25% {
    box-shadow: rgba(255, 255, 255, 0.577) 0 0 0 0;
  }
  75% {
    box-shadow: #ffffff58 0 0 0 2.14vh;
  }
}
/* section blogs  */
.nav-and-blog {
  margin: 6.7vh 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.21vh;
  width: 100%;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3.27vh;
  row-gap: 1.56vw;
}

/*-----------------------------------------
 navigation pannel 
  --------------------------------------------*/
.navigation {
  display: grid;
  grid-template-columns: 16.53vw;
  row-gap: 0.97vw;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 0.651vw;
  width: 20.3125vw;
  height: 41.8230563002681vh;
}
.navigation a {
  font-weight: 500;
  display: inline-block;
  background: #ffffff;
  border-radius: 0.65vw;
  text-decoration: none;
  font-size: 1.3vw;
  text-align: center;
  padding: 2.144vh 1.62vw;
  color: black;
}

.navigation a:active {
  color: white;
  background: rgb(206, 5, 5);
}
.navigation a:hover {
  color: white;
  background: rgb(206, 5, 5);
}

/* #selected {
  color: white;
  background: red;
} */
.blog,
.blog-img img {
  box-shadow: 10px 10px 10px rgba(8, 0, 0, 0.126);
  width: 20.3125vw;
}
.blog:hover {
  box-shadow: 5px 5px 10px rgba(8, 0, 0, 0.767);
}
.blog button {
  font-size: 1.041vw;
  width: 8.463vw;
  height: 4.28vh;
  color: black;
  padding: 0.53vh 1.106vw;
  background-color: white;
  border-radius: 0.67vh;
}
.blog button:focus {
  background-color: black;
  color: white;
  border-radius: 0.65vh;
}

.blog .blog-title {
  padding: 2.68vh 1.3vw;
}
.blog-detail {
  display: flex;
}
.blog-detail .comment {
  padding-left: 1.95vw;
}

/* hidden button  */
.view-all {
  width: 13vw;
  background-color: rgb(206, 5, 5);
  border-radius: 1.34vh;
  text-align: center;
  margin-bottom: 6.7vh;
  display: none;
}
.view-all a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 2.68vh 1.3vw;
  font-size: 1.62vw;
  font-weight: 600;
}

/*-------------------------------------------- 
footer  
--------------------------------------------------*/
footer {
  background-color: black;
}
.footer-container {
  margin: 0;
  padding: 6.7vh 9.11vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-container h2 {
  color: white;
  font-size: 2.6vw;
  margin: 0;
  /* text-align: center; */
}
.footer-container hr {
  color: #939393;
  background-color: #939393;
  margin: 6.7vh;
  width: 100%;
  border-radius: 3.35vh;
}
.footer-menu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 2.01vh;
  justify-items: center;
  width: fit-content;
}
.footer-menu a {
  color: white;
  text-decoration: none;
  font-size: 1.041vw;
  width: fit-content;
}
.footer-menu a:hover {
  color: #939393;
}
.social-links a {
  display: inline-block;
  color: white;
  font-size: 2.6vw;
  margin: 6.7vh 1.95vw 0 0;
}
.social-links a:hover {
  color: #939393;
}

/*------------------- 
media queries 
----------------------*/
/* tablet view  */
@media only screen and (min-width: 689px) and (max-width: 1023px) {
  .banner {
    width: 100%;
    height: auto;
  }
  /* navigation  */
  .nav-and-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.21vh;
    row-gap: 1.56vw;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    background-color: white;
    justify-content: center;
    height: fit-content;
    width: 80vw;
  }

  .navigation a {
    margin: 4.02vh 0.97vw;
    box-shadow: 0px 10px 10px rgba(8, 0, 0, 0.126);
    width: 20vw;
    border: 0.5px solid rgba(170, 168, 168, 0.505);
  }
  .blogs {
    max-width: 100%;
  }
  .blog,
  .blog-img img {
    width: 40vw;
  }
  .view-all {
    display: grid;
  }
}
/* mobile view  */
@media only screen and (max-width: 688px) {
  .container {
    margin: 0;
  }
  banner {
    width: 100%;
    height: auto;
  }
  /* navigation  */
  .nav-and-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blogs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    background-color: white;
    justify-content: center;
    height: fit-content;
    width: 80vw;
  }

  .navigation a {
    margin: 4.02vh 0.97vw;
    box-shadow: 0px 10px 10px rgba(8, 0, 0, 0.126);
    width: 20vw;
    border: 0.5px solid rgba(170, 168, 168, 0.505);
  }
  .blogs {
    max-width: 100%;
  }
  .blog,
  .blog-img img {
    width: 40vw;
  }
  .view-all {
    display: grid;
  }
}
